body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.mainTitle {
    padding-right: 8px;
}

.loaderIcon {
    margin-right: 15px;
    transform: scale(2) scaleX(-1);
    color: #007ac9;
    margin: 0 0 20px 0;
}

.appIcon {
    margin-right: 15px;
    transform: scale(1.3) scaleX(-1);
    color: #FFFFFF;
}

.appBarShadow {
    height: 15px;
    background: linear-gradient(180deg, rgba(106, 106, 106, 0.8) 0%, rgba(0, 0, 0, 0) 30%);
}

.menuIcon {
    color: #FFFFFF;
}

.menu {
    margin-top: 12px;
    overflow: visible;
}

.menuItem {
    height: 40px;
}

.menuItemIcon {
    margin-right: 15px;
}

.linkTo {
    text-decoration: none;
    color: inherit;
}

.mainGrid {
    padding: 40px 30px 20px 30px
}

.gridCenterItems {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.filterCenterItems {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 -20px 0;
}

.backwardsNav {
    position: absolute;
    margin-bottom: -70px;
}

.pageTitle {
    padding-bottom: 40px;
}

.buttonSwitch {
    padding: 0 0 40px 0;
}

.searchGrid {
    padding: 0 0 40px 0;
}

.inputRounded .MuiOutlinedInput-root {
    border-radius: 200px;
    height: 37px;
}

.searchButton {
    width: 100%;
}

.progressContainer {
    padding: 0 15% 0 15%;
    display: flex;
    align-items: center;
}

.progressVis {
    padding: 5px 0 5px 0;
    margin: 10px 0 10px 0;
}

.listAccordion {
    width: 100%;
}

.avatarComp {
    padding-right: 30px;
}

.mapContainer {
    padding: 20px 0 40px 0;
}

.loadingSkeleton {
    width: 100%;
}

.pagination {
    justify-content: center;
    display: flex;
    padding: 10px 0 10px 0;
}

.paginationSelect {
    margin-bottom: 10px;
}